*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
    background-image: url(./assets/gradient-black-background-.jpg);

}
nav{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: rgba(5, 5, 6, 0.681);
    align-items: center;

}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.left{
    font-size: 2rem;
}
.first{
    display: flex;
    justify-content: space-around;
    /* margin: 20px 0px 80px; */
}
.first >div{
    width: 20%
}
.rightpart img{
    width: 130%;
    margin-right: 50px;
    height: 90%;
}
.leftpart {
    font-size: 35px;
    margin: 50px 0;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: rgb(92, 204, 238);
    font-size: 1.4rem;
}
.second{
    max-width: 70vw;
    margin: auto;
}
main hr{
    border: 0px;
    background-color:rgba(217, 200, 101, 0.853);
    height: 2px;
    margin: 30px 90px;
}
.second div ul{
    /* background-color: rgb(158, 158, 221); */
    /* color: black; */
    /* border-radius: 3px; */
    margin: 10px;
    padding: 10px;

} 
.second div ul li{
    margin: 20px;
    padding: 20px;
    background-color: rgba(217, 200, 101, 0.853);
    color: black;
    border-radius: 20px;
    width: 30vw;
    align-items: center;
    height: auto;
    
  
}

.second ul{display: flex;} 
.lhs{
font-size: 20px;
margin: 40px;
padding: 20px;
background-color: rgba(217, 200, 101, 0.853);
color: rgb(0, 0, 0);
border-radius: 30px;
margin-left: 150px;
max-width: 50vw;}
.heading h1{
    margin-left: 14vw;
    margin-top: 20px;
    
}
.third {
    display: flex;
}
.rhs img{
    width: auto ;
    height: 350px;
    margin-top: 50px;
    margin-left: 100px;
}
.fourth button{
    background-color: rgb(33, 90, 122);
    margin-left: 30vw;
    height: 60px;
    color: white;
    border-radius: 40px;
    font-size: 35px;
    margin-top: 50px;
    width: 40%;

}
.fourth button .text{
    padding: 40px 30px;
    margin: 20px 30px;
}



.heading1{
    margin-left: 14vw;
    margin-top: 20px;
    
}
.img .list{
    display: flex;
}

.fifth img{
    width: 20vw;
    height: 200px;
    margin-left: 20vw;

    
}
.fifth h1{
    margin-left: 14vw;
    margin-top: 40px;
}
.fifth ul li {
    margin-left: 20vw;
}
.fifth ul li img {
    height: 100px;
    width: auto;
}
.sixth h1{
    margin-left: 14vw;
    margin-top: 40px;

}
.sixth .first .firstproj img{
    height: 200px;
    width: 400px;
    margin-left: 20%;
    display: flex;
    justify-content: space-evenly;
    
}
.sixth .second .secondproj img{
    height: 200px;
    width: 400px;
}
.sixth{
    display: flex;
}
h3{
    margin-left: 50%;
}
